<a href="https://colab.research.google.com/github/1konlawat/PHASE-1/blob/main/Dataclean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
upload = files.upload()

Saving dirty_insurance_customers.csv to dirty_insurance_customers.csv

In [ ]:
import pandas as pd
df = pd.read_csv("dirty_insurance_customers.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          492 non-null    object
 1   name        489 non-null    object
 2   วันแรก      484 non-null    object
 3   วันสุดท้าย  487 non-null    object
 4   ราคา        488 non-null    object
 5   address     485 non-null    object
 6   phone       490 non-null    object
dtypes: object(7)
memory usage: 27.5+ KB

In [ ]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns
df = pd.read_csv("dirty_insurance_customers.csv")
#df.info()
df['ID'] = df['ID'].str.strip()
df['ID'].duplicated().sum()
df =df.drop_duplicates(subset='ID', keep='first')
#df['ID'].duplicated().sum()

#df['ID'].isna().sum()
df[df['ID'].astype(str).str.strip() != '']
df = df.dropna(subset=['ID'])
#df['ID'].isna().sum()

df['ID'] = df['ID'].str.upper()

df['ID'] = df['ID'].str.upper()
df['ID'] = df['ID'].str.strip()
df['ID'] = df['ID'].str.replace(r'[^A-Z0-9]', '', regex=True)
df['ID'] = df['ID'].apply(lambda x: 'CUS' + x if not x.startswith('CUS') else x)
df['ID'] = df['ID'].str.replace(r'^CUS', '', regex=True).str.replace(r'\D', '', regex=True).radd('CUS')
df['ID'] = df['ID'].str.replace(r'^CUS', '', regex=True).str[-5:].radd('CUS')

#df[~df['ID'].str.match(r'^CUS\d{4,6}$')]
df['name'].head()

0    Customer 0
1    Customer 1
2    Customer 2
3    Customer 3
4    Customer 4
Name: name, dtype: object

In [ ]:
df['name'].isna().sum()
df['name'].duplicated().sum()

np.int64(10)

In [ ]:
# 1) ลบ NaN และชื่อว่าง
df = df[df['name'].notna() & (df['name'].astype(str).str.strip() != '')]

# 2) ลบค่าซ้ำ
df = df.drop_duplicates(subset='name', keep='first')

# 3) ทำให้รูปแบบสม่ำเสมอ
df['name'] = df['name'].str.lower()
df['name'] = df['name'].str.title().str.strip()

# 4) ลบช่องว่างเกิน
df['name'] = df['name'].str.replace(r'\s+', '', regex=True)

# 5) ลบตัวอักษรเพี้ยน
df['name'] = df['name'].str.replace(r'[^A-Za-z0-9]', '', regex=True)

# 6) ตรวจ pattern Customer + เลข 0–499
df['name'].str.match(r'^Customer[0-4]?\d{1,2}$').sum()

df[~df['name'].str.match(r'^Customer[0-4]?\d{1,2}$')].head(50)

,ID,name,วันแรก,วันสุดท้าย,ราคา,address,phone
36,CUS1036,Customer36Err,2025-06-27,2025-09-09,44925,Address 36,086105724
44,CUS1044,Xustomer44,2025-11-28,2020-09-04,16524,Address 44,086004998
51,CUS1051,Customer51Err,2018-08-30,2024-05-15,15060,Address 51,081863561
52,CUS1052,Customer52Err,2023-08-04,2024-03-14,18449,Address 52,081302186
55,CUS1055,Xustomer55,2021-09-25,2022-12-27,10510,Address 55,088456985
63,CUS1063,Xustomer63,2023-05-10,2019-11-30,22526_ERR,Address 63,NaN
72,CUS1072,Xustomer72,2022-04-29,2019-12-19,19381,Address 72,088918348
90,CUS1090,Customer90Err,2024-02-14,NaN,1922,Address 90,089168984
92,CUS1092,Xustomer92,2019-05-08,2025-05-29,11789,Address 92,084597706
102,CUS1102,Xustomer102,2021-03-08,2021-11-17,33265,Address 102,086087268
113,CUS1113,Xustomer113,2023-12-23,2021-09-27,21103,Address 113,089399911
163,CUS1163,Xustomer163,2020-03-06,2021-06-06,35560,Address 163,087555035
194,CUS1194,Xustomer194,2023-01-28,2023-05-01,42914,Address 194,085421590
207,CUS1207,Customer207Err,2022-10-26,2019-12-10,5757,Address 207,084722946
214,CUS1214,Xustomer214,2022-08-23,2020-05-26,47163,Address 214,084340216
241,CUS1241,Xustomer241,2018-05-27,2022-07-27,39258,Address 241,086290717_ERR
256,CUS1256,Customer256Err,2021-12-09,2019-03-25,11093,Address 256,089998604
276,CUS1276,Xustomer276,2024-01-09,2024-09-14,21059,Address 276,NaN
281,CUS1281,Xustomer281,2022-07-07,2019-08-01,22591,Address 281,082947763_ERR
283,CUS1283,Customer283Err,2021-12-16,2019-03-11,10503,Address 283,084882149
295,CUS1295,Customer295Err,NaN,2023-07-11,17032,Address 295,089715633
308,CUS1308,Xustomer308,2019-02-05,2021-09-15,16358_ERR,Address 308,085813673_ERR
310,CUS1310,Xustomer310,2025-06-28,2023-02-19,NaN,NaN,088551989
333,CUS1333,Xustomer333,2018-01-17,2023-05-24,3573,Address 333,082390281
340,CUS1340,Xustomer340,2022-11-04,2025-01-25,18685,NaN,083614150
372,CUS1372,Customer372Err,2022-02-09,2025-07-29,30373,Address 372,083613275
389,CUS1389,Customer389Err,2025-05-25,2022-07-05,24150,Address 389,087105931
397,CUS1397,Customer397Err,2025-08-06,2023-03-22,49275,Address 397,081298090
411,CUS1411,Xustomer411,2024-10-27,2024-01-02,35888,Address 411,084932441
415,CUS1415,Xustomer415,2018-01-05,2018-08-21,35008,Address 415,082386980
444,CUS1444,Customer444Err,2020-10-09,2025-01-07,6895,Address 444,089121757
450,CUS1450,Customer450Err,2021-01-24,2020-01-29_ERR,6319,Address 450,082276647
479,CUS1479,Xustomer479,2022-06-24,2024-07-01_ERR,26510,Address 479,083736582
483,CUS1483,Customer483Err,2023-09-02,2022-12-16,1614,NaN,086594176

In [ ]:
import pandas as pd
import re

def clean_name(name):
    if pd.isna(name):
        return None

    name = str(name).strip()

    # Xustomer → Customer
    name = re.sub(r'^Xustomer', 'Customer', name, flags=re.IGNORECASE)

    # ลบ Err / _ERR / Error ที่อยู่ท้ายเท่านั้น
    name = re.sub(r'(?i)(err|_err|error)$', '', name)

    # CUS123 → Customer123 (เฉพาะถ้าตามด้วยเลข)
    name = re.sub(r'^CUS(?=\d)', 'Customer', name, flags=re.IGNORECASE)

    # ลบช่องว่างทั้งหมด
    name = re.sub(r'\s+', '', name)

    # ตัวอักษรให้สวย
    name = name.lower().title()

    # Pattern: Customer0–499
    if re.fullmatch(r'Customer[0-4]?\d{1,2}', name):
        return name
    else:
        return None


# ใช้ฟังก์ชัน
df['name_clean'] = df['name'].apply(clean_name)

# ลบแถวใช้ไม่ได้
df = df[df['name_clean'].notna()].copy()

# แทนที่
df['name'] = df['name_clean']
df = df.drop(columns=['name_clean'])
df['name']

0        Customer0
1        Customer1
2        Customer2
3        Customer3
4        Customer4
          ...
495    Customer495
496    Customer496
497    Customer497
498    Customer498
499    Customer499
Name: name, Length: 481, dtype: object

In [ ]:
df['วันแรก'] = df['วันแรก'].astype(str).str.strip()
df['วันแรก'] = pd.to_datetime(df['วันแรก'], errors='coerce')
mask = df['วันแรก'].dt.year > 2500
df.loc[mask, 'วันแรก'] = df.loc[mask, 'วันแรก'] - pd.DateOffset(years=543)
df['วันแรก'] = df['วันแรก'].dt.strftime('%Y-%m-%d')
df['วันแรก']
df['วันแรก'].isna().sum()
#df['วันแรก'].duplicated().sum()
#(df['วันแรก'].astype(str).str.strip() == "").sum()

tmp = df['วันแรก'] = pd.to_datetime(df['วันแรก'], errors='coerce')
mean_data = df['วันแรก'].mean()
df['วันแรก'] = df['วันแรก'].fillna(mean_data)
df['วันแรก'].isna().sum()

df['วันแรก'].head(34)
df['วันแรก'].isna().sum()

weird_2 = df[
    (tmp.dt.year > 2500) |
    (tmp.dt.year > 2100) |
    (tmp.dt.year < 1900)
]

weird_3 = df[df['วันแรก'].astype(str).str.match(r'^\d{8}$', na=False)]

weird_all = pd.concat([ weird_2, weird_3]).drop_duplicates()


df.head(34)

,ID,name,วันแรก,วันสุดท้าย,ราคา,address,phone
0,CUS1000,Customer0,2020-05-10 00:00:00.000000000,2020-06-14,48362,NaN,088132508
1,CUS1001,Customer1,2021-07-18 00:00:00.000000000,2024-01-17,21128,Address 1,087437845
2,CUS1002,Customer2,2021-02-04 00:00:00.000000000,2020-05-01,46745,Address 2,084828433
3,CUS1003,Customer3,2020-12-31 00:00:00.000000000,2022-08-15,1009,Address 3,083735264
4,CUS1004,Customer4,2022-06-27 00:00:00.000000000,2023-04-16,17644,Address 4,085448748
5,CUS1005,Customer5,2023-12-10 00:00:00.000000000,2025-06-30,23422,Address 5,088152747
6,CUS1006,Customer6,2019-04-12 00:00:00.000000000,2024-08-24,10865,Address 6,085137270_ERR
7,CUS1007,Customer7,2021-05-23 00:00:00.000000000,2022-04-18,3219,Address 7,085317922
8,CUS1008,Customer8,2018-11-27 00:00:00.000000000,2020-08-14,40809,Address 8,NaN
9,CUS1009,Customer9,2022-01-22 00:00:00.000000000,2025-07-01,6287,Address 9,088465373
10,CUS1010,Customer10,2023-11-06 00:00:00.000000000,2022-06-25,35387,Address 10,082020154
11,CUS1011,Customer11,2025-12-29 00:00:00.000000000,2021-07-15,9512,Address 11,089070924
12,CUS1012,Customer12,2018-05-11 00:00:00.000000000,2021-12-11,2342,Address 12,087843532
13,CUS1013,Customer13,2022-08-13 00:00:00.000000000,2021-04-06,44336,Address 13,085945169
14,CUS1014,Customer14,2020-02-09 00:00:00.000000000,2020-12-02,20216,Address 14,087733215
15,CUS1015,Customer15,2024-07-19 00:00:00.000000000,2018-10-12,28534,Address 15,089195810
16,CUS1016,Customer16,2022-02-24 00:00:00.000000000,2024-09-10,15231,Address 16,088904294
18,CUS1018,Customer18,2024-08-30 00:00:00.000000000,2022-06-19,27614,Address 18,089171548
19,CUS1019,Customer19,2021-04-30 00:00:00.000000000,2024-12-21,37258,Address 19,087714301
20,CUS1020,Customer20,2020-08-13 00:00:00.000000000,2020-01-24,29253,Address 20,088969693
22,CUS1022,Customer22,2021-03-30 00:00:00.000000000,2025-08-06,41752,Address 22,088744064
23,CUS1023,Customer23,2019-04-05 00:00:00.000000000,2025-12-06,18988,Address 23_ERR,083129885
24,CUS1024,Customer24,2022-01-22 00:47:28.351648512,2018-03-31,32037,Address 24,085720642
25,CUS1025,Customer25,2024-04-19 00:00:00.000000000,2020-02-15,13219,Address 25,081549239
26,CUS1026,Customer26,2020-01-18 00:00:00.000000000,2025-04-06,1235,Address 26,089945309
27,CUS1027,Customer27,2025-12-14 00:00:00.000000000,2022-06-14,43929,Address 27,086408753
28,CUS1028,Customer28,2019-04-20 00:00:00.000000000,2019-02-22,2908,Address 28,084047569
29,CUS1029,Customer29,2020-12-18 00:00:00.000000000,2018-04-25,9567,Address 29,081785332
30,CUS1030,Customer30,2025-01-02 00:00:00.000000000,2019-09-09,37298,Address 30,089555080
31,CUS1031,Customer31,2023-08-10 00:00:00.000000000,2020-04-05,6256,Address 31,081397710
32,CUS1032,Customer32,2025-07-10 00:00:00.000000000,2022-07-08,20019,NaN,NaN
33,CUS1033,Customer33,2020-09-02 00:00:00.000000000,2022-02-25,9162,Address 33,NaN
34,CUS1034,Customer34,2022-12-12 00:00:00.000000000,2019-02-17,6415,Address 34,084188729
35,CUS1035,Customer35,2018-07-09 00:00:00.000000000,2019-12-30,37159,Address 35,085785956

In [ ]:
df['วันสุดท้าย'] = df['วันสุดท้าย'].astype(str).str.strip()
df['วันสุดท้าย'] = pd.to_datetime(df['วันสุดท้าย'], errors='coerce')
mask = df['วันสุดท้าย'].dt.year > 2500
df.loc[mask, 'วันสุดท้าย'] = df.loc[mask, 'วันสุดท้าย'] - pd.DateOffset(years=543)
df['วันสุดท้าย'] = df['วันสุดท้าย'].dt.strftime('%Y-%m-%d')
df['วันสุดท้าย']
df['วันสุดท้าย'].isna().sum()
#df['วันแรก'].duplicated().sum()
#(df['วันแรก'].astype(str).str.strip() == "").sum()

tmp = df['วันสุดท้าย'] = pd.to_datetime(df['วันสุดท้าย'], errors='coerce')
mean_data = df['วันสุดท้าย'].mean()
df['วันสุดท้าย'] = df['วันสุดท้าย'].fillna(mean_data)
df['วันสุดท้าย'].isna().sum()

df['วันสุดท้าย'].head(34)
df['วันสุดท้าย'].isna().sum()

weird_2 = df[
    (tmp.dt.year > 2500) |
    (tmp.dt.year > 2100) |
    (tmp.dt.year < 1900)
]

weird_3 = df[df['วันสุดท้าย'].astype(str).str.match(r'^\d{8}$', na=False)]

weird_all = pd.concat([ weird_2, weird_3]).drop_duplicates()


df['วันสุดท้าย'].isna().sum()
(df['วันสุดท้าย'].astype(str).str.strip() == '').sum()

np.int64(0)

In [ ]:
df['ราคา'].isna().sum()
df = df.dropna(subset=['ราคา'])
df['ราคา'].isna().sum()
(df['ราคา'].astype(str).str.strip() == '').sum()

mask_invalid = (
    df['ราคา'].isna() |
    (df['ราคา'].astype(str).str.strip() == '') |
    pd.to_numeric(df['ราคา'], errors='coerce').isna()
)

df[mask_invalid]


df['ราคา'] = df['ราคา'].astype(str).str.extract(r'(\d+)')
df['ราคา'] = pd.to_numeric(df['ราคา'], errors='coerce')

df[~df['ราคา'].astype(str).str.match(r'^\d+(\.\d+)?$')]

Empty DataFrame
Columns: [ID, name, วันแรก, วันสุดท้าย, ราคา, address, phone]
Index: []

In [ ]:
# 0) จัดการ NaN ก่อน (สำคัญมาก)
df['address'] = df['address'].fillna('Unknown')

# 1) แปลงเป็น string + ตัดช่องว่าง
df['address_clean'] = df['address'].astype(str).str.strip()

# 2) Normalize ตัวพิมพ์ใหญ่-เล็ก
df['address_clean'] = df['address_clean'].str.capitalize()

# 3) ลบช่องว่างซ้อน เช่น "Address   12"
df['address_clean'] = df['address_clean'].str.replace(r'\s+', '', regex=True)

# 4) ดึงค่าที่ไม่ตรง pattern Address + ตัวเลข
df_invalid = df[~df['address_clean'].str.match(r'^Address\d+$', na=False)]

In [ ]:
# 1) แปลงเป็น string + ตัดช่องว่าง
df['address_clean'] = df['address'].astype(str).str.strip()

# 2) Normalize ตัวพิมพ์ใหญ่-เล็ก
df['address_clean'] = df['address_clean'].str.capitalize()

# 3) ลบช่องว่างซ้อน
df['address_clean'] = df['address_clean'].str.replace(r'\s+', '', regex=True)

# 4) แทน NaN ด้วยข้อความ (กัน error)
df['address_clean'] = df['address_clean'].replace('nan', None)
df['address_clean'] = df['address_clean'].fillna('addressUnknown')

# ⭐ 5) ตรวจค่าที่ **ไม่ตรง pattern Address + ตัวเลข**
df_invalid = df[~df['address_clean'].str.match(r'^Address\d+$', na=False)]
df['address_clean'] = df['address_clean'].str.replace(r'_.+$', '', regex=True)
df = df.drop(columns=['address'])

KeyError: 'address'

In [ ]:
df['address_clean'].isna().sum()
df['phone'].isna().sum()
df = df.dropna(subset=['phone'])
df['phone'].isna().sum()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 460 entries, 0 to 499
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             460 non-null    object
 1   name           460 non-null    object
 2   วันแรก         460 non-null    datetime64[ns]
 3   วันสุดท้าย     460 non-null    datetime64[ns]
 4   ราคา           460 non-null    int64
 5   phone          460 non-null    object
 6   address_clean  460 non-null    object
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 28.8+ KB

In [ ]:
# 1) บันทึกไฟล์หลังทำความสะอาด และตั้งชื่อใหม่
df.to_csv("dirty_insurance_customers_cleaned.csv", index=False)

# 2) ดาวน์โหลดไฟล์ลงเครื่อง
from google.colab import files
files.download("dirty_insurance_customers_cleaned.csv")

In [ ]:
# 1) บันทึกไฟล์หลังทำความสะอาด และตั้งชื่อใหม่
df.to_csv("dirty_insurance_customers_cleaned1.csv", index=False)

# 2) ดาวน์โหลดไฟล์ลงเครื่อง
from google.colab import files
files.download("dirty_insurance_customers_cleaned1.csv")

In [ ]:
from google.colab import files
upload = files.upload()

Saving dirty_insurance_customers_cleaned.csv to dirty_insurance_customers_cleaned (1).csv

In [ ]:
df['phone'] = df['phone'].str.replace(r'_.+$', '', regex=True)
df['phone']

0      088132508
1      087437845
2      084828433
3      083735264
4      085448748
         ...
495    082048173
496    089379341
497    087579137
498    082912584
499    084777538
Name: phone, Length: 460, dtype: object